 

.scale{
    text-align: center;
 }



#red{height: 35px ;
    width:170px;
   background-color: red;
   transform: rotate(10deg);
 
}
#yellow{height: 35px ;
    width:170px;
   background-color:yellow;
   transform: rotate(20deg);


}
#blue{height: 35px ;
    width:170px;
   background-color: blue;
   transform: rotate(30deg);


}
#brown{height: 35px ;
    width:170px;
   background-color:  brown;
   transform: rotate(40deg);


}